@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Ubuntu:300,400,700");
/*
@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futlign-webfont.eot');
  src: url('../fonts/futura/futlign-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/futura/futlign-webfont.woff') format('woff'),
       url('../fonts/futura/futlign-webfont.ttf') format('truetype'),
       url('../fonts/futura/futlign-webfont.svg#Futura') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaCond';
  src: url('../fonts/futura/futconn-webfont.eot');
  src: url('../fonts/futura/futconn-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/futura/futconn-webfont.woff') format('woff'),
       url('../fonts/futura/futconn-webfont.ttf') format('truetype'),
       url('../fonts/futura/futconn-webfont.svg#FuturaCond') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaCond';
  src: url('../fonts/futura/futconb-webfont.eot');
  src: url('../fonts/futura/futconb-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/futura/futconb-webfont.woff') format('woff'),
       url('../fonts/futura/futconb-webfont.ttf') format('truetype'),
       url('../fonts/futura/futconb-webfont.svg#FuturaCond') format('svg');
  font-weight: bold;
  font-style: normal;
}
*/
/* line 1, sass/_base.scss */
body, html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

/* line 6, sass/_base.scss */
.fusion-header {
  background: #9a876a; }

/* line 11, sass/_base.scss */
.rev_slider_wrapper .shadow-left,
.rev_slider_wrapper .shadow-right {
  display: none; }

/* line 15, sass/_base.scss */
.fusion-main-menu > ul > li > a, .side-nav li a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

/* line 21, sass/_base.scss */
.fusion-header {
  padding-top: 10px;
  padding-bottom: 10px; }

/* line 25, sass/_base.scss */
.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px; }
  /* line 34, sass/_base.scss */
  .top-menu > .left-menu {
    flex-basis: 70%; }
    /* line 36, sass/_base.scss */
    .top-menu > .left-menu > .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between; }
      /* line 43, sass/_base.scss */
      .top-menu > .left-menu > .wrapper > div {
        text-align: center;
        flex-basis: calc(100% / 3);
        color: #9a876a;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1vw; }
  /* line 54, sass/_base.scss */
  .top-menu > .right-menu {
    flex-basis: 30%;
    padding-left: 15px; }
  /* line 60, sass/_base.scss */
  .top-menu .searcher .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 0.5px solid #c2c2c2;
    border-radius: 5px;
    overflow: hidden; }
    /* line 70, sass/_base.scss */
    .top-menu .searcher .wrapper > .button {
      flex-basis: 30px; }
      /* line 73, sass/_base.scss */
      .top-menu .searcher .wrapper > .button button {
        height: 30px;
        width: 30px;
        background: none;
        border: none;
        cursor: pointer; }
    /* line 81, sass/_base.scss */
    .top-menu .searcher .wrapper > .inp {
      flex: 1; }
      /* line 84, sass/_base.scss */
      .top-menu .searcher .wrapper > .inp input {
        padding: 10px 0 10px 5px;
        font-size: 0.8em;
        color: #9a876a;
        border: none;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold; }
        /* line 92, sass/_base.scss */
        .top-menu .searcher .wrapper > .inp input::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          font-family: 'Ubuntu', sans-serif;
          font-weight: normal;
          text-transform: uppercase; }
        /* line 98, sass/_base.scss */
        .top-menu .searcher .wrapper > .inp input:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          font-family: 'Ubuntu', sans-serif;
          font-weight: normal;
          text-transform: uppercase; }
        /* line 104, sass/_base.scss */
        .top-menu .searcher .wrapper > .inp input::-ms-input-placeholder {
          /* Microsoft Edge */
          font-family: 'Ubuntu', sans-serif;
          font-weight: normal;
          text-transform: uppercase; }
        /* line 110, sass/_base.scss */
        .top-menu .searcher .wrapper > .inp input:focus {
          outline: none; }

/* line 118, sass/_base.scss */
.fusion-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between; }
  /* line 126, sass/_base.scss */
  .fusion-header > .logo {
    flex-basis: 200px; }
    /* line 129, sass/_base.scss */
    .fusion-header > .logo img {
      max-height: 110px; }
  /* line 133, sass/_base.scss */
  .fusion-header > .nav {
    fleX: 1;
    padding-left: 40px; }

/* line 140, sass/_base.scss */
.navmenu {
  padding: 18px 0 0 0;
  margin: 0; }
  /* line 144, sass/_base.scss */
  .navmenu .menu-fomenu-container {
    height: 100%; }
  /* line 147, sass/_base.scss */
  .navmenu a, .navmenu a:visited, .navmenu a:hover {
    color: black;
    font-weight: 300; }
  /* line 151, sass/_base.scss */
  .navmenu ul, .navmenu li {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 157, sass/_base.scss */
  .navmenu ul.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin: 0 -10px; }
    /* line 167, sass/_base.scss */
    .navmenu ul.menu > li {
      height: 100%;
      position: relative;
      -webkit-transition: all .4s;
      transition: all .4s;
      text-transform: uppercase;
      font-size: 1.1em;
      font-family: 'Roboto Condensed', sans-serif;
      color: #f0ece7 !important;
      padding: 0 15px; }
      /* line 178, sass/_base.scss */
      .navmenu ul.menu > li > a {
        display: block;
        height: 100%;
        line-height: 45px;
        height: 45px;
        color: #f0ece7 !important;
        border-bottom: 0.5px solid transparent;
        -webkit-transition: all .4s;
        transition: all .4s; }
        /* line 188, sass/_base.scss */
        .navmenu ul.menu > li > a .ico {
          text-align: center;
          margin: 12px 0 5px 0; }
          /* line 191, sass/_base.scss */
          .navmenu ul.menu > li > a .ico i {
            font-size: 15px; }
        /* line 196, sass/_base.scss */
        .navmenu ul.menu > li > a:hover {
          color: white;
          border-bottom: 0.5px solid white; }
      /* line 203, sass/_base.scss */
      .navmenu ul.menu > li.current_page_item > a {
        color: white !important;
        border-bottom: 0.5px solid white; }
      /* line 209, sass/_base.scss */
      .navmenu ul.menu > li > .sub-menu {
        position: absolute;
        left: 0;
        min-width: 200px;
        max-width: 320px;
        background: #ffffff;
        top: 101%;
        box-shadow: 2px 5px 30px -10px black; }
        /* line 218, sass/_base.scss */
        .navmenu ul.menu > li > .sub-menu > li {
          border-bottom: 0.5px solid #e6e6e6; }
          /* line 220, sass/_base.scss */
          .navmenu ul.menu > li > .sub-menu > li > a {
            padding: 8px 12px;
            display: block;
            font-size: 1.1em;
            width: 100%;
            -webkit-transition: all .4s;
            transition: all .4s; }
            /* line 228, sass/_base.scss */
            .navmenu ul.menu > li > .sub-menu > li > a:hover {
              color: black;
              background: #e6e6e6; }
        /* line 235, sass/_base.scss */
        .navmenu ul.menu > li > .sub-menu.col2menu {
          width: 320px;
          max-width: 320px; }
          /* line 238, sass/_base.scss */
          .navmenu ul.menu > li > .sub-menu.col2menu > li {
            float: left;
            width: 50%;
            display: inline-block; }
            /* line 243, sass/_base.scss */
            .navmenu ul.menu > li > .sub-menu.col2menu > li a {
              line-height: 1;
              text-transform: none; }
      /* line 252, sass/_base.scss */
      .navmenu ul.menu > li:hover > .sub-menu {
        display: block; }
      /* line 258, sass/_base.scss */
      .navmenu ul.menu > li.menu-item-has-children > a:after {
        content: "\f107";
        font-family: 'FontAwesome';
        margin: 0 0 0 6px; }
  /* line 267, sass/_base.scss */
  .navmenu ul.sub-menu {
    display: none; }

/* line 273, sass/_base.scss */
.bg-img-contain > div {
  background-size: contain !important; }

/* line 278, sass/_base.scss */
.avada-skin-rev {
  border: none; }

/* line 282, sass/_base.scss */
.slide-contents {
  background: #f6f6f6 !important;
  padding: 0 !important;
  position: relative !important; }
  /* line 287, sass/_base.scss */
  .slide-contents .fusion-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: initial; }
    /* line 294, sass/_base.scss */
    .slide-contents .fusion-row > .fusion-layout-column.fusion-one-half {
      flex-basis: 50%;
      width: auto;
      float: none;
      margin: 0; }
  /* line 302, sass/_base.scss */
  .slide-contents .fusion-column-wrapper {
    padding: 2.3rem; }
    /* line 305, sass/_base.scss */
    .slide-contents .fusion-column-wrapper h3 {
      font-size: 2.3rem; }

/* line 312, sass/_base.scss */
.blog-list-holder .list {
  margin: -10px; }
  /* line 314, sass/_base.scss */
  .blog-list-holder .list .item {
    padding: 10px; }
    /* line 317, sass/_base.scss */
    .blog-list-holder .list .item .image img {
      width: 100%; }
    /* line 321, sass/_base.scss */
    .blog-list-holder .list .item .date {
      color: #ababab;
      text-align: center;
      font-size: 0.85em;
      margin: 10px 0 0 0; }
    /* line 327, sass/_base.scss */
    .blog-list-holder .list .item .title {
      text-align: center;
      margin: 0 0 5px 0; }
      /* line 330, sass/_base.scss */
      .blog-list-holder .list .item .title h3 {
        margin: 0; }
      /* line 333, sass/_base.scss */
      .blog-list-holder .list .item .title h3 a {
        color: #535353;
        font-size: 1.25em;
        text-align: center; }
    /* line 339, sass/_base.scss */
    .blog-list-holder .list .item .desc {
      color: #ababab;
      font-size: 0.9em;
      line-height: 1.3; }
    /* line 345, sass/_base.scss */
    .blog-list-holder .list .item .read {
      text-align: center; }
      /* line 348, sass/_base.scss */
      .blog-list-holder .list .item .read a {
        text-transform: uppercase;
        text-decoration: none; }
/* line 357, sass/_base.scss */
.blog-list-holder.style-standard .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }
  /* line 363, sass/_base.scss */
  .blog-list-holder.style-standard .list > .item {
    flex-basis: calc(100% / 3); }
/* line 370, sass/_base.scss */
.blog-list-holder.style-slide .slick-arrow {
  position: absolute;
  top: 50%;
  text-indent: -9999999px;
  border: 1px solid #9a876a;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  background: transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  /* line 383, sass/_base.scss */
  .blog-list-holder.style-slide .slick-arrow:focus {
    outline: none; }
  /* line 387, sass/_base.scss */
  .blog-list-holder.style-slide .slick-arrow:before {
    font-family: 'FontAwesome';
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 12px;
    color: #9a876a;
    text-indent: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  /* line 399, sass/_base.scss */
  .blog-list-holder.style-slide .slick-arrow.slick-next {
    right: -50px; }
    /* line 401, sass/_base.scss */
    .blog-list-holder.style-slide .slick-arrow.slick-next:before {
      content: "\f178"; }
  /* line 405, sass/_base.scss */
  .blog-list-holder.style-slide .slick-arrow.slick-prev {
    left: -50px; }
    /* line 407, sass/_base.scss */
    .blog-list-holder.style-slide .slick-arrow.slick-prev:before {
      content: "\f177"; }
  /* line 412, sass/_base.scss */
  .blog-list-holder.style-slide .slick-arrow:hover {
    background: #9a876a; }
    /* line 414, sass/_base.scss */
    .blog-list-holder.style-slide .slick-arrow:hover:before {
      color: white; }
/* line 420, sass/_base.scss */
.blog-list-holder.style-slide.wantslide .list {
  margin: -10px !important; }
  /* line 422, sass/_base.scss */
  .blog-list-holder.style-slide.wantslide .list .item {
    padding: 10px !important; }
/* line 429, sass/_base.scss */
.blog-list-holder.style-slide:not(.wantslide) .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }
  /* line 435, sass/_base.scss */
  .blog-list-holder.style-slide:not(.wantslide) .list > .item {
    flex-basis: calc(100% / 3); }

/* line 443, sass/_base.scss */
ul.nav {
  margin: 0 0 20px 0;
  padding: 0; }
  /* line 447, sass/_base.scss */
  ul.nav li {
    display: inline-block;
    *display: inline;
    zoom: 1; }
    /* line 452, sass/_base.scss */
    ul.nav li:after {
      content: "/";
      margin: 0 5px;
      color: #e2e2e2; }
    /* line 458, sass/_base.scss */
    ul.nav li a {
      color: #4a4a4a;
      text-transform: uppercase;
      font-size: 0.9em;
      font-family: 'Roboto'; }
      /* line 464, sass/_base.scss */
      ul.nav li a:hover {
        color: #9a876a; }
    /* line 468, sass/_base.scss */
    ul.nav li a.cat {
      color: white;
      font-size: 0.8em;
      text-decoration: none; }
      /* line 473, sass/_base.scss */
      ul.nav li a.cat span {
        padding: 2px 4px; }
    /* line 479, sass/_base.scss */
    ul.nav li:last-child:after {
      display: none; }

/* line 488, sass/_base.scss */
.archive.tax-kategoria #main,
.archive.tax-csoportok #main {
  padding: 0; }
  /* line 490, sass/_base.scss */
  .archive.tax-kategoria #main > .fusion-row,
  .archive.tax-csoportok #main > .fusion-row {
    width: 100%;
    max-width: 100%; }
/* line 495, sass/_base.scss */
.archive.tax-kategoria .borito:not(.no-image),
.archive.tax-csoportok .borito:not(.no-image) {
  background: #acacac;
  height: 420px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  /* line 501, sass/_base.scss */
  .archive.tax-kategoria .borito:not(.no-image) .wrapper,
  .archive.tax-csoportok .borito:not(.no-image) .wrapper {
    height: 100%;
    width: 1150px;
    margin: 0 auto;
    position: relative; }
    /* line 507, sass/_base.scss */
    .archive.tax-kategoria .borito:not(.no-image) .wrapper .felirat,
    .archive.tax-csoportok .borito:not(.no-image) .wrapper .felirat {
      background: rgba(255, 255, 255, 0.91);
      text-align: center;
      padding: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      /* line 519, sass/_base.scss */
      .archive.tax-kategoria .borito:not(.no-image) .wrapper .felirat h1,
      .archive.tax-csoportok .borito:not(.no-image) .wrapper .felirat h1 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 4vh;
        color: black;
        margin: 0 0 20px 0; }
      /* line 527, sass/_base.scss */
      .archive.tax-kategoria .borito:not(.no-image) .wrapper .felirat .desc,
      .archive.tax-csoportok .borito:not(.no-image) .wrapper .felirat .desc {
        color: black;
        font-size: 1.2em;
        line-height: 1.2;
        font-weight: 300; }
/* line 537, sass/_base.scss */
.archive.tax-kategoria .borito.no-image .wrapper,
.archive.tax-csoportok .borito.no-image .wrapper {
  width: 1150px;
  margin: 0 auto; }
  /* line 542, sass/_base.scss */
  .archive.tax-kategoria .borito.no-image .wrapper .felirat h1,
  .archive.tax-csoportok .borito.no-image .wrapper .felirat h1 {
    color: #9a876a;
    font-size: 2.2em; }

/* line 552, sass/_base.scss */
.mobile-slogan {
  background: #9a876a;
  text-align: center;
  font-size: 2vh;
  line-height: 1;
  color: white;
  padding: 10px;
  font-weight: 300;
  text-transform: uppercase; }

/* line 564, sass/_base.scss */
.term-list,
.termeklist-holder {
  padding: 15px 0; }
  /* line 567, sass/_base.scss */
  .term-list .products,
  .termeklist-holder .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -15px; }
    /* line 574, sass/_base.scss */
    .term-list .products > div,
    .termeklist-holder .products > div {
      flex-basis: calc(100% / 4);
      padding: 15px; }
      /* line 577, sass/_base.scss */
      .term-list .products > div > .wrapper,
      .termeklist-holder .products > div > .wrapper {
        border: 0.5px solid transparent;
        padding: 0.5px; }
        /* line 580, sass/_base.scss */
        .term-list .products > div > .wrapper .image,
        .termeklist-holder .products > div > .wrapper .image {
          text-align: center;
          padding: 0px;
          height: 240px;
          overflow: hidden;
          position: relative; }
          /* line 586, sass/_base.scss */
          .term-list .products > div > .wrapper .image img,
          .termeklist-holder .products > div > .wrapper .image img {
            width: auto;
            max-width: initial;
            height: 100%;
            max-height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            z-index: 1; }
        /* line 600, sass/_base.scss */
        .term-list .products > div > .wrapper .datas,
        .termeklist-holder .products > div > .wrapper .datas {
          padding: 15px; }
          /* line 603, sass/_base.scss */
          .term-list .products > div > .wrapper .datas .title,
          .termeklist-holder .products > div > .wrapper .datas .title {
            text-align: center; }
            /* line 605, sass/_base.scss */
            .term-list .products > div > .wrapper .datas .title h4,
            .termeklist-holder .products > div > .wrapper .datas .title h4 {
              text-align: center;
              font-size: 1.15em;
              margin: 0 0 25px 0; }
              /* line 609, sass/_base.scss */
              .term-list .products > div > .wrapper .datas .title h4 a,
              .termeklist-holder .products > div > .wrapper .datas .title h4 a {
                display: block; }
          /* line 615, sass/_base.scss */
          .term-list .products > div > .wrapper .datas .bt,
          .termeklist-holder .products > div > .wrapper .datas .bt {
            text-align: center;
            padding: 0 0 15px 0; }
            /* line 618, sass/_base.scss */
            .term-list .products > div > .wrapper .datas .bt a,
            .termeklist-holder .products > div > .wrapper .datas .bt a {
              padding: 8px 10px;
              text-transform: uppercase;
              color: #9a876a;
              border: 2px solid #9a876a;
              font-weight: 600;
              -webkit-transition: all .4s;
              transition: all .4s; }
              /* line 627, sass/_base.scss */
              .term-list .products > div > .wrapper .datas .bt a:hover,
              .termeklist-holder .products > div > .wrapper .datas .bt a:hover {
                background: #9a876a;
                color: white; }
      /* line 637, sass/_base.scss */
      .term-list .products > div:hover > .wrapper,
      .termeklist-holder .products > div:hover > .wrapper {
        border: 0.5px solid #d7d7d7; }
  /* line 644, sass/_base.scss */
  .term-list .no-products,
  .termeklist-holder .no-products {
    text-align: center;
    padding: 25px;
    font-size: 1.2em;
    font-weight: 300; }
    /* line 650, sass/_base.scss */
    .term-list .no-products h3,
    .termeklist-holder .no-products h3 {
      color: black;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700; }
  /* line 658, sass/_base.scss */
  .term-list .header,
  .termeklist-holder .header {
    border-bottom: 1px solid #dcdcdc;
    margin: 0 0 15px 0;
    padding: 0 0 10px 0; }
    /* line 663, sass/_base.scss */
    .term-list .header .nav,
    .termeklist-holder .header .nav {
      margin: 0 0 20px 0; }
    /* line 667, sass/_base.scss */
    .term-list .header .filters,
    .termeklist-holder .header .filters {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      /* line 674, sass/_base.scss */
      .term-list .header .filters > .info,
      .termeklist-holder .header .filters > .info {
        flex-basis: 50%;
        color: black;
        font-size: 1.2em; }
        /* line 679, sass/_base.scss */
        .term-list .header .filters > .info .src-result,
        .termeklist-holder .header .filters > .info .src-result {
          color: #8d8d8d;
          font-size: 0.9em; }
          /* line 684, sass/_base.scss */
          .term-list .header .filters > .info .src-result .srckeys span,
          .termeklist-holder .header .filters > .info .src-result .srckeys span {
            background: #e8e8e8;
            color: #1b1b1b;
            padding: 3px 6px;
            border-radius: 9px;
            margin: 0 4px;
            font-size: 0.7em; }
      /* line 695, sass/_base.scss */
      .term-list .header .filters > .filter,
      .termeklist-holder .header .filters > .filter {
        flex: 1; }
        /* line 697, sass/_base.scss */
        .term-list .header .filters > .filter > form > .wrapper,
        .termeklist-holder .header .filters > .filter > form > .wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-end; }
          /* line 705, sass/_base.scss */
          .term-list .header .filters > .filter > form > .wrapper input, .term-list .header .filters > .filter > form > .wrapper select,
          .termeklist-holder .header .filters > .filter > form > .wrapper input,
          .termeklist-holder .header .filters > .filter > form > .wrapper select {
            padding: 10px;
            background: #f3f3f3;
            border: 0.5px solid #cdcdcd;
            color: black;
            height: 35px; }
          /* line 713, sass/_base.scss */
          .term-list .header .filters > .filter > form > .wrapper > div,
          .termeklist-holder .header .filters > .filter > form > .wrapper > div {
            padding: 0 0 0 5px; }

/* line 726, sass/_base.scss */
.product-categories-holder.style-boxslide .holder .list .catgroup {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: -5px; }
  /* line 734, sass/_base.scss */
  .product-categories-holder.style-boxslide .holder .list .catgroup > .cat {
    flex-basis: calc(100% / 4);
    padding: 5px; }
    /* line 738, sass/_base.scss */
    .product-categories-holder.style-boxslide .holder .list .catgroup > .cat > .wrapper {
      background: #f1f1f1;
      position: relative;
      height: 13vh;
      overflow: hidden;
      -webkit-transition: all .4s;
      transition: all .4s; }
      /* line 746, sass/_base.scss */
      .product-categories-holder.style-boxslide .holder .list .catgroup > .cat > .wrapper img {
        width: 100%;
        max-width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 1; }
      /* line 757, sass/_base.scss */
      .product-categories-holder.style-boxslide .holder .list .catgroup > .cat > .wrapper .cimke {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        padding: 12px 10px;
        font-size: 1em;
        color: black;
        z-index: 2;
        border: 1px solid white;
        background: rgba(255, 255, 255, 0.86);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    /* line 778, sass/_base.scss */
    .product-categories-holder.style-boxslide .holder .list .catgroup > .cat:hover > .wrapper {
      border-radius: 10px;
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      box-shadow: 0 5px 25px -5px black; }
/* line 790, sass/_base.scss */
.product-categories-holder.style-boxslide .slick-arrow {
  position: absolute;
  top: 50%;
  text-indent: -9999999px;
  border: 1px solid #9a876a;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  background: transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  /* line 803, sass/_base.scss */
  .product-categories-holder.style-boxslide .slick-arrow:focus {
    outline: none; }
  /* line 807, sass/_base.scss */
  .product-categories-holder.style-boxslide .slick-arrow:before {
    font-family: 'FontAwesome';
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 12px;
    color: #9a876a;
    text-indent: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  /* line 819, sass/_base.scss */
  .product-categories-holder.style-boxslide .slick-arrow.slick-next {
    right: -50px; }
    /* line 821, sass/_base.scss */
    .product-categories-holder.style-boxslide .slick-arrow.slick-next:before {
      content: "\f178"; }
  /* line 825, sass/_base.scss */
  .product-categories-holder.style-boxslide .slick-arrow.slick-prev {
    left: -50px; }
    /* line 827, sass/_base.scss */
    .product-categories-holder.style-boxslide .slick-arrow.slick-prev:before {
      content: "\f177"; }
  /* line 832, sass/_base.scss */
  .product-categories-holder.style-boxslide .slick-arrow:hover {
    background: #9a876a; }
    /* line 834, sass/_base.scss */
    .product-categories-holder.style-boxslide .slick-arrow:hover:before {
      color: white; }

/* line 844, sass/_base.scss */
.fusion-widget-area h3,
.fusion-widget-area h4,
.fusion-footer-widget-area .widget-title, .fusion-footer-widget-area h3, .fusion-footer-widget-column .product-title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  margin: 0 0 30px 0; }

/* line 850, sass/_base.scss */
.fusion-footer-widget-area .widget_nav_menu li a:before, .fusion-footer-widget-area .widget_categories li a:before, .fusion-footer-widget-area .widget_meta li a:before, .fusion-footer-widget-area .widget .recentcomments:before, .fusion-footer-widget-area .widget_recent_entries li a:before, .fusion-footer-widget-area .widget_archive li a:before, .fusion-footer-widget-area .widget_pages li a:before, .fusion-footer-widget-area .widget_links li a:before {
  content: "";
  display: none; }

/* line 854, sass/_base.scss */
.fusion-widget-area .widget_nav_menu li {
  padding: 4px 0;
  border: none; }
  /* line 857, sass/_base.scss */
  .fusion-widget-area .widget_nav_menu li a {
    text-transform: uppercase;
    color: #ababab;
    font-weight: 300; }

/* line 863, sass/_base.scss */
.fusion-footer-widget-area {
  padding-top: 0;
  padding-bottom: 0; }

/* line 867, sass/_base.scss */
.fusion-footer-copyright-area {
  padding: 10px 0; }

/* line 870, sass/_base.scss */
.fusion-footer .fusion-columns .fusion-column {
  border-right: 2px solid #eaeaea;
  height: 280px;
  padding: 25px; }

/* line 875, sass/_base.scss */
.fusion-footer .fusion-columns .fusion-column.fusion-column-last {
  border-right: none; }

/* line 878, sass/_base.scss */
.fusion-copyright-notice {
  color: #69645d; }

/* line 882, sass/_base.scss */
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }

/* line 890, sass/_base.scss */
.footer-contacts .wrapper {
  width: 1150px;
  margin: 0 auto;
  padding: 10px 0; }
/* line 895, sass/_base.scss */
.footer-contacts .subs-nav {
  background: #9a876a;
  color: white; }
  /* line 898, sass/_base.scss */
  .footer-contacts .subs-nav > .wrapper > .grid {
    align-items: center; }
    /* line 901, sass/_base.scss */
    .footer-contacts .subs-nav > .wrapper > .grid .social {
      padding-right: 20px;
      border-right: 1px solid white;
      flex-basis: 180px; }
      /* line 906, sass/_base.scss */
      .footer-contacts .subs-nav > .wrapper > .grid .social .fusion-social-networks .fusion-social-network-icon {
        margin: 5px 15px 5px 15px;
        font-size: 22px; }
    /* line 911, sass/_base.scss */
    .footer-contacts .subs-nav > .wrapper > .grid .subs {
      flex: 1;
      padding-left: 20px; }
      /* line 915, sass/_base.scss */
      .footer-contacts .subs-nav > .wrapper > .grid .subs .main-text {
        font-weight: 300;
        font-size: 0.9em;
        color: #c9e5d5;
        text-transform: uppercase;
        margin: 0 0 10px 0; }
      /* line 922, sass/_base.scss */
      .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid {
        align-items: center;
        justify-content: space-between; }
        /* line 926, sass/_base.scss */
        .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .text {
          font-size: 1.7em;
          line-height: 1;
          font-weight: 300;
          flex: 1; }
        /* line 933, sass/_base.scss */
        .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .inp {
          flex-basis: 30%;
          padding-right: 15px; }
          /* line 936, sass/_base.scss */
          .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .inp input {
            height: 35px;
            line-height: 35px;
            padding: 0 12px;
            width: 100%;
            color: #9a876a;
            font-weight: bold;
            font-size: 1.1em; }
        /* line 947, sass/_base.scss */
        .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .button {
          flex-basis: 20%; }
          /* line 949, sass/_base.scss */
          .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .button button {
            border: 2px solid white;
            background: none;
            padding: 0 12px;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            line-height: 35px;
            height: 35px; }
            /* line 960, sass/_base.scss */
            .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .button button:hover {
              background: white;
              color: black; }
/* line 970, sass/_base.scss */
.footer-contacts .cont {
  background: #efeeed; }
  /* line 972, sass/_base.scss */
  .footer-contacts .cont > .wrapper > .grid {
    justify-content: space-between;
    align-items: center; }
  /* line 976, sass/_base.scss */
  .footer-contacts .cont .contact {
    order: 1;
    flex: 1; }
    /* line 979, sass/_base.scss */
    .footer-contacts .cont .contact > .grid {
      justify-content: flex-end; }
    /* line 982, sass/_base.scss */
    .footer-contacts .cont .contact .logo {
      flex-basis: 160px;
      order: 1; }
    /* line 986, sass/_base.scss */
    .footer-contacts .cont .contact .cont-data {
      line-height: 1.4;
      text-align: right; }
      /* line 990, sass/_base.scss */
      .footer-contacts .cont .contact .cont-data h3 {
        color: black;
        margin: 0 0 5px 0; }
  /* line 996, sass/_base.scss */
  .footer-contacts .cont .ask {
    flex-basis: 40%;
    font-size: 1.5em; }
  /* line 1000, sass/_base.scss */
  .footer-contacts .cont .ask, .footer-contacts .cont .contact {
    line-height: 1; }
    /* line 1003, sass/_base.scss */
    .footer-contacts .cont .ask > .grid > div, .footer-contacts .cont .contact > .grid > div {
      padding: 10px; }
    /* line 1007, sass/_base.scss */
    .footer-contacts .cont .ask > .grid .text, .footer-contacts .cont .contact > .grid .text {
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 300;
      line-height: 1.4;
      text-align: left; }
      /* line 1014, sass/_base.scss */
      .footer-contacts .cont .ask > .grid .text a, .footer-contacts .cont .contact > .grid .text a {
        text-transform: none;
        font-weight: bold; }
    /* line 1020, sass/_base.scss */
    .footer-contacts .cont .ask > .grid .ico i, .footer-contacts .cont .contact > .grid .ico i {
      font-size: 52px;
      color: #9a876a;
      margin: 0;
      padding: 0; }

/* line 1032, sass/_base.scss */
.fusion-social-links-footer .fusion-social-networks {
  margin-right: 27px; }

/* line 1036, sass/_base.scss */
#main .comment-submit, #reviews input#submit, .button-default, .button.default, .comment-form input[type="submit"], .fusion-button-default, .fusion-portfolio-one .fusion-button, .post-password-form input[type="submit"], .ticket-selector-submit-btn[type=submit] {
  background: #9a876a; }
  /* line 1039, sass/_base.scss */
  #main .comment-submit:hover, #reviews input#submit:hover, .button-default:hover, .button.default:hover, .comment-form input[type="submit"]:hover, .fusion-button-default:hover, .fusion-portfolio-one .fusion-button:hover, .post-password-form input[type="submit"]:hover, .ticket-selector-submit-btn[type=submit]:hover {
    background: #af9f88; }

/* line 1045, sass/_base.scss */
body.single-termekek #main {
  padding: 20px;
  border-top: 5px solid #d1d1d1; }
/* line 1049, sass/_base.scss */
body.single-termekek .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px; }
  /* line 1057, sass/_base.scss */
  body.single-termekek .cont > .image, body.single-termekek .cont > .prod-body {
    flex-basis: 50%;
    padding: 0 20px; }
  /* line 1063, sass/_base.scss */
  body.single-termekek .cont .image > .wrapper {
    border: 1px solid #f1f1f1;
    padding: 10px; }
  /* line 1070, sass/_base.scss */
  body.single-termekek .cont .prod-body h1 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 0 25px 0;
    color: #9a876a;
    font-weight: bold;
    line-height: 1.2;
    font-size: 2.4em; }
  /* line 1078, sass/_base.scss */
  body.single-termekek .cont .prod-body .tab-content {
    font-weight: 300;
    color: black;
    font-size: 0.9em;
    line-height: 1.6; }
    /* line 1083, sass/_base.scss */
    body.single-termekek .cont .prod-body .tab-content.desc {
      font-size: 1.1em; }
/* line 1089, sass/_base.scss */
body.single-termekek .terms {
  margin: 40px 0 0 0; }
  /* line 1091, sass/_base.scss */
  body.single-termekek .terms .term {
    font-size: 0.7em;
    margin: 5px 0; }
    /* line 1095, sass/_base.scss */
    body.single-termekek .terms .term a {
      font-family: 'Roboto';
      color: #51b179; }
      /* line 1099, sass/_base.scss */
      body.single-termekek .terms .term a:hover {
        color: #9a876a; }

/* line 1107, sass/_base.scss */
ul.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ececec; }
  /* line 1117, sass/_base.scss */
  ul.tabs li {
    list-style: none;
    padding: 0 20px 0 0;
    margin: 0; }
    /* line 1122, sass/_base.scss */
    ul.tabs li a {
      font-size: 0.9em;
      font-family: 'Roboto';
      padding: 5px 0;
      color: #8c8c8c;
      display: block;
      border-bottom: 4px solid transparent; }
      /* line 1129, sass/_base.scss */
      ul.tabs li a:hover {
        color: #9a876a; }
    /* line 1135, sass/_base.scss */
    ul.tabs li.active a {
      font-weight: bold;
      color: #9a876a;
      border-bottom: 4px solid #9a876a; }

/* line 1144, sass/_base.scss */
#wrapper #main .post > h2.entry-title {
  font-size: 1.8em;
  font-weight: bold; }

/* line 1152, sass/_base.scss */
.dijak-lista .dij,
.dijak-lista .viszontelado,
.viszonteladok-lista .dij,
.viszonteladok-lista .viszontelado {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0; }
  /* line 1155, sass/_base.scss */
  .dijak-lista .dij > .wrapper,
  .dijak-lista .viszontelado > .wrapper,
  .viszonteladok-lista .dij > .wrapper,
  .viszonteladok-lista .viszontelado > .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap; }
    /* line 1161, sass/_base.scss */
    .dijak-lista .dij > .wrapper .image,
    .dijak-lista .viszontelado > .wrapper .image,
    .viszonteladok-lista .dij > .wrapper .image,
    .viszonteladok-lista .viszontelado > .wrapper .image {
      flex-basis: 80px;
      text-align: center; }
    /* line 1165, sass/_base.scss */
    .dijak-lista .dij > .wrapper .datas,
    .dijak-lista .viszontelado > .wrapper .datas,
    .viszonteladok-lista .dij > .wrapper .datas,
    .viszonteladok-lista .viszontelado > .wrapper .datas {
      padding: 0 0 0 20px;
      flex: 1; }
      /* line 1168, sass/_base.scss */
      .dijak-lista .dij > .wrapper .datas h4,
      .dijak-lista .viszontelado > .wrapper .datas h4,
      .viszonteladok-lista .dij > .wrapper .datas h4,
      .viszonteladok-lista .viszontelado > .wrapper .datas h4 {
        margin: 10px 0 10px 0;
        font-size: 1.8em;
        font-weight: bold;
        line-height: 1; }
/* line 1180, sass/_base.scss */
.dijak-lista .viszontelado > .wrapper .image,
.viszonteladok-lista .viszontelado > .wrapper .image {
  flex-basis: 80px; }
  /* line 1182, sass/_base.scss */
  .dijak-lista .viszontelado > .wrapper .image img,
  .viszonteladok-lista .viszontelado > .wrapper .image img {
    width: 100%; }
/* line 1187, sass/_base.scss */
.dijak-lista .viszontelado > .wrapper .datas h4,
.viszonteladok-lista .viszontelado > .wrapper .datas h4 {
  margin: 0 0 5px 0;
  font-size: 1.3em;
  color: #9a876a;
  font-weight: bold;
  line-height: 1; }

/* line 1199, sass/_base.scss */
.read-list {
  text-align: center;
  padding: 40px 0 0 0; }
  /* line 1202, sass/_base.scss */
  .read-list a {
    border: 2px solid #9a876a;
    padding: 10px;
    text-transform: uppercase;
    color: #9a876a;
    font-size: 0.8em; }

/* line 1212, sass/_base.scss */
.facebook-post-list-holder .list {
  margin: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }
  /* line 1219, sass/_base.scss */
  .facebook-post-list-holder .list .item {
    flex-basis: calc(100% / 3); }
    /* line 1221, sass/_base.scss */
    .facebook-post-list-holder .list .item .wrapper {
      padding: 5px;
      text-align: center; }
      /* line 1225, sass/_base.scss */
      .facebook-post-list-holder .list .item .wrapper iframe {
        margin: 0 auto; }

/* line 1234, sass/_base.scss */
.videos-holder .list {
  margin: -5px; }
  /* line 1237, sass/_base.scss */
  .videos-holder .list .item .wrapper {
    padding: 5px; }
    /* line 1239, sass/_base.scss */
    .videos-holder .list .item .wrapper .image {
      text-align: center; }
      /* line 1241, sass/_base.scss */
      .videos-holder .list .item .wrapper .image img {
        margin: 0 auto;
        width: 100%; }
    /* line 1247, sass/_base.scss */
    .videos-holder .list .item .wrapper .title {
      padding: 10px 0 0 0; }
      /* line 1249, sass/_base.scss */
      .videos-holder .list .item .wrapper .title a {
        text-align: center;
        line-height: 1.3;
        font-size: 1.2em;
        display: block;
        color: black; }
    /* line 1258, sass/_base.scss */
    .videos-holder .list .item .wrapper .read {
      text-align: center;
      padding: 15px 0 10px 0; }
      /* line 1261, sass/_base.scss */
      .videos-holder .list .item .wrapper .read a {
        text-transform: uppercase; }
/* line 1271, sass/_base.scss */
.videos-holder.style-standard .holder .list {
  margin: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }
  /* line 1278, sass/_base.scss */
  .videos-holder.style-standard .holder .list .item {
    flex-basis: calc(100% / 3); }
    /* line 1280, sass/_base.scss */
    .videos-holder.style-standard .holder .list .item .wrapper {
      padding: 5px; }
/* line 1288, sass/_base.scss */
.videos-holder .slick-arrow {
  position: absolute;
  top: 50%;
  text-indent: -9999999px;
  border: 1px solid #9a876a;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  background: transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  /* line 1301, sass/_base.scss */
  .videos-holder .slick-arrow:focus {
    outline: none; }
  /* line 1305, sass/_base.scss */
  .videos-holder .slick-arrow:before {
    font-family: 'FontAwesome';
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 12px;
    color: #9a876a;
    text-indent: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  /* line 1317, sass/_base.scss */
  .videos-holder .slick-arrow.slick-next {
    right: -50px; }
    /* line 1319, sass/_base.scss */
    .videos-holder .slick-arrow.slick-next:before {
      content: "\f178"; }
  /* line 1323, sass/_base.scss */
  .videos-holder .slick-arrow.slick-prev {
    left: -50px; }
    /* line 1325, sass/_base.scss */
    .videos-holder .slick-arrow.slick-prev:before {
      content: "\f177"; }
  /* line 1330, sass/_base.scss */
  .videos-holder .slick-arrow:hover {
    background: #9a876a; }
    /* line 1332, sass/_base.scss */
    .videos-holder .slick-arrow:hover:before {
      color: white; }

/* line 1340, sass/_base.scss */
.award-list-holder > .holder {
  border: 1px solid #ececec; }
  /* line 1342, sass/_base.scss */
  .award-list-holder > .holder > .list {
    padding: 20px; }
/* line 1350, sass/_base.scss */
.award-list-holder .list .item .wrapper .image {
  text-align: center; }
  /* line 1352, sass/_base.scss */
  .award-list-holder .list .item .wrapper .image img {
    margin: 0 auto; }
/* line 1360, sass/_base.scss */
.award-list-holder .slick-arrow {
  position: absolute;
  top: 50%;
  text-indent: -9999999px;
  border: 1px solid #9a876a;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  cursor: pointer;
  background: transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  /* line 1373, sass/_base.scss */
  .award-list-holder .slick-arrow:focus {
    outline: none; }
  /* line 1377, sass/_base.scss */
  .award-list-holder .slick-arrow:before {
    font-family: 'FontAwesome';
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 12px;
    color: #9a876a;
    text-indent: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  /* line 1389, sass/_base.scss */
  .award-list-holder .slick-arrow.slick-next {
    right: -50px; }
    /* line 1391, sass/_base.scss */
    .award-list-holder .slick-arrow.slick-next:before {
      content: "\f178"; }
  /* line 1395, sass/_base.scss */
  .award-list-holder .slick-arrow.slick-prev {
    left: -50px; }
    /* line 1397, sass/_base.scss */
    .award-list-holder .slick-arrow.slick-prev:before {
      content: "\f177"; }
  /* line 1402, sass/_base.scss */
  .award-list-holder .slick-arrow:hover {
    background: #9a876a; }
    /* line 1404, sass/_base.scss */
    .award-list-holder .slick-arrow:hover:before {
      color: white; }

/* line 1411, sass/_base.scss */
.pagination {
  width: 100%;
  text-align: center; }
  /* line 1414, sass/_base.scss */
  .pagination ul {
    margin: 10px auto; }
    /* line 1416, sass/_base.scss */
    .pagination ul li {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: middle;
      padding: 2px; }
      /* line 1423, sass/_base.scss */
      .pagination ul li a {
        background: #dddddd;
        padding: 5px 8px;
        display: block;
        color: black;
        text-decoration: none; }
      /* line 1431, sass/_base.scss */
      .pagination ul li.active a {
        background: #9a876a;
        color: white; }

/* line 1440, sass/_base.scss */
.tab-content {
  display: none; }
  /* line 1442, sass/_base.scss */
  .tab-content.active {
    display: block; }

/* line 1447, sass/_base.scss */
footer .fusion-social-networks .fusion-social-network-icon {
  color: #444444 !important; }

/* line 1452, sass/_base.scss */
body.single-videok iframe {
  max-width: 100%;
  height: 640px; }

/* line 1457, sass/_base.scss */
.show-on-mobile {
  display: none; }

@media all and (max-width: 1000px) {
  /* line 1462, sass/_base.scss */
  #main {
    padding-top: 25px;
    padding-bottom: 25px; }

  /* line 1466, sass/_base.scss */
  .footer-contacts .wrapper {
    width: 100%;
    margin: 0 auto; }

  /* line 1470, sass/_base.scss */
  .post-content h2 {
    font-size: 5vh !important;
    line-height: 1 !important; }

  /* line 1476, sass/_base.scss */
  .award-list-holder.style-slide,
  .videos-holder.style-slide,
  .product-categories-holder.style-boxslide {
    padding: 0 30px; }

  /* line 1482, sass/_base.scss */
  .footer-contacts .subs-nav > .wrapper > .grid .social,
  .footer-contacts .subs-nav > .wrapper > .grid .subs,
  .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid > div,
  .footer-contacts .cont .phone, .footer-contacts .cont .email {
    flex-basis: 100% !important;
    padding: 0 !important; }

  /* line 1486, sass/_base.scss */
  .footer-contacts .subs-nav > .wrapper > .grid .social {
    border-right: none; }

  /* line 1489, sass/_base.scss */
  .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .inp input {
    width: 70%;
    height: auto;
    padding: 10px 15px;
    font-size: 1.8vh; }

  /* line 1495, sass/_base.scss */
  .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .button button {
    font-size: 2vh;
    height: auto;
    line-height: 1;
    padding: 10px; }

  /* line 1501, sass/_base.scss */
  .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid > div {
    text-align: center;
    padding: 10px 25px !important; }

  /* line 1505, sass/_base.scss */
  .videos-holder .list .item .wrapper .title a {
    font-size: 2.5vh; }

  /* line 1508, sass/_base.scss */
  .read-list a {
    font-size: 2vh; }

  /* line 1511, sass/_base.scss */
  .footer-contacts .wrapper {
    padding: 25px 0 !important; }

  /* line 1514, sass/_base.scss */
  .footer-contacts .cont .phone, .footer-contacts .cont .email {
    text-align: center;
    padding: 10px 0 !important; }

  /* line 1519, sass/_base.scss */
  .footer-contacts .cont .phone > .grid,
  .footer-contacts .cont .email > .grid {
    justify-content: center; }

  /* line 1523, sass/_base.scss */
  .footer-contacts .cont .phone > .grid > .val,
  .footer-contacts .cont .email > .grid > .val {
    flex-basis: 100%; }

  /* line 1526, sass/_base.scss */
  .footer-contacts .subs-nav > .wrapper > .grid .subs > .grid .text {
    font-size: 3.5vh; }

  /* line 1529, sass/_base.scss */
  .blog-list-holder.style-standard .list > .item {
    flex-basis: 100%; }

  /* line 1532, sass/_base.scss */
  .fusion-footer .fusion-columns .fusion-column {
    height: auto; }

  /* line 1535, sass/_base.scss */
  .fusion-columns .fusion-column:not(.fusion-column-last) {
    margin: 0 !important; }

  /* line 1542, sass/_base.scss */
  .fusion-widget-area h4,
  .fusion-widget-area h3,
  .fusion-widget-area .textwidget,
  .fusion-footer-widget-area .widget-title,
  .fusion-widget-area .widget_nav_menu li a {
    text-align: center; }

  /* line 1545, sass/_base.scss */
  .fusion-footer .fusion-columns .fusion-column {
    border: none; }

  /* line 1550, sass/_base.scss */
  .fusion-widget-area .textwidget,
  .fusion-widget-area .widget_nav_menu li a {
    font-size: 3vh; }

  /* line 1555, sass/_base.scss */
  .fusion-widget-area h4,
  .fusion-widget-area h3,
  .fusion-footer-widget-area .widget-title {
    font-size: 4vh; }

  /* line 1558, sass/_base.scss */
  .fusion-social-networks .fusion-social-networks-wrapper {
    text-align: center; }

  /* line 1561, sass/_base.scss */
  .facebook-post-list-holder .list .item {
    flex-basis: calc(100% / 2); }

  /* line 1564, sass/_base.scss */
  .facebook-post-list-holder .list .item .wrapper iframe {
    width: 100%;
    min-width: 100%; }

  /* line 1568, sass/_base.scss */
  .product-categories-holder.style-boxslide .holder .list .catgroup > .cat {
    flex-basis: calc(100% / 3); }

  /* line 1571, sass/_base.scss */
  .product-categories-holder.style-boxslide {
    padding: 0; }

  /* line 1574, sass/_base.scss */
  .product-categories-holder.style-boxslide .holder .list .catgroup {
    margin: 0; }

  /* line 1577, sass/_base.scss */
  .show-on-mobile {
    display: block; }

  /* line 1580, sass/_base.scss */
  .hide-on-mobile {
    display: none; }

  /* line 1583, sass/_base.scss */
  .product-categories-holder.style-boxslide .holder .list .catgroup > .cat > .wrapper .cimke {
    font-size: 2vh; }

  /* line 1586, sass/_base.scss */
  .mobilnav {
    background: #f1f1f1;
    padding: 15px;
    font-size: 24px;
    line-height: 1;
    position: absolute;
    left: 10px;
    top: 10px; }

  /* line 1595, sass/_base.scss */
  .navmenu {
    display: none; }

  /* line 1598, sass/_base.scss */
  #main {
    padding: 15px; }

  /* line 1601, sass/_base.scss */
  .fusion-columns .fusion-column {
    margin: 0; }

  /* line 1604, sass/_base.scss */
  .videos-holder.style-standard .holder .list .item {
    flex-basis: 50%; }

  /* line 1607, sass/_base.scss */
  .archive.tax-kategoria .borito .wrapper, .archive.tax-csoportok .borito .wrapper {
    width: 100% !important; }

  /* line 1610, sass/_base.scss */
  .archive.tax-kategoria .borito:not(.no-image) .wrapper .felirat .desc, .archive.tax-csoportok .borito:not(.no-image) .wrapper .felirat .desc {
    font-size: 1.4vh; }

  /* line 1613, sass/_base.scss */
  .archive.tax-kategoria .borito:not(.no-image), .archive.tax-csoportok .borito:not(.no-image) {
    height: 40vh; }

  /* line 1616, sass/_base.scss */
  .term-list .header {
    padding: 15px; }

  /* line 1619, sass/_base.scss */
  .archive.tax-kategoria .borito .wrapper .felirat, .archive.tax-csoportok .borito .wrapper .felirat {
    width: 90%; }

  /* line 1622, sass/_base.scss */
  .term-list {
    padding: 15px; }

  /* line 1625, sass/_base.scss */
  body.archive .term-list {
    padding: 0; }

  /* line 1628, sass/_base.scss */
  ul.nav li a {
    font-size: 1.8vh; }

  /* line 1631, sass/_base.scss */
  .term-list .header .filters > .filter {
    font-size: 1.2vh; }

  /* line 1634, sass/_base.scss */
  .term-list .header .filters > .info {
    flex-basis: 40%; }

  /* line 1637, sass/_base.scss */
  .term-list .products > div {
    flex-basis: 50%; }

  /* line 1640, sass/_base.scss */
  body.single-videok iframe {
    max-width: 100%;
    width: 100%;
    height: 40vh; } }
@media all and (max-width: 768px) {
  /* line 1648, sass/_base.scss */
  body.single-videok iframe {
    height: 30vh; }

  /* line 1651, sass/_base.scss */
  .fusion-header {
    padding: 10px !important;
    border-bottom: 3px solid #9a876a; }

  /* line 1655, sass/_base.scss */
  .fusion-header > .fusion-row {
    flex-wrap: wrap; }

  /* line 1658, sass/_base.scss */
  .fusion-header > .fusion-row > .logo {
    flex-basis: 100%;
    text-align: center; }

  /* line 1662, sass/_base.scss */
  .fusion-header > .fusion-row > .nav {
    flex-basis: 100%;
    padding: 0; }

  /* line 1666, sass/_base.scss */
  .navmenu ul.menu {
    flex-wrap: wrap;
    background: #f1f1f1; }

  /* line 1670, sass/_base.scss */
  .navmenu ul.menu > li {
    flex-basis: 100%;
    border-top: 0.5px solid #d6d6d6; }

  /* line 1674, sass/_base.scss */
  .navmenu ul.menu > li > .sub-menu {
    z-index: 10;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 100%; }

  /* line 1681, sass/_base.scss */
  .post-content {
    font-size: 2.4vh; } }
@media all and (max-width: 480px) {
  /* line 1687, sass/_base.scss */
  .product-categories-holder.style-boxslide .holder .list .catgroup > .cat {
    flex-basis: calc(100% / 2); }

  /* line 1690, sass/_base.scss */
  .facebook-post-list-holder .list .item {
    flex-basis: calc(100% / 1); }

  /* line 1694, sass/_base.scss */
  .videos-holder.style-standard .holder .list .item {
    flex-basis: 100%; }

  /* line 1697, sass/_base.scss */
  .term-list .header .filters > .info {
    flex-basis: 100%;
    text-align: center; }

  /* line 1701, sass/_base.scss */
  .term-list .header .filters > .filter {
    text-align: center; }

  /* line 1704, sass/_base.scss */
  .term-list .header .filters > .filter > form > .wrapper {
    justify-content: center;
    margin: -5px; }

  /* line 1708, sass/_base.scss */
  .term-list .header .filters > .filter > form > .wrapper > .t {
    flex-basis: 100%;
    text-align: center;
    font-size: 1.8vh; }

  /* line 1713, sass/_base.scss */
  .term-list .header .filters > .filter > form > .wrapper > div {
    padding: 5px; }

  /* line 1717, sass/_base.scss */
  .term-list .header .filters > .filter > form > .wrapper > .o,
  .term-list .header .filters > .filter > form > .wrapper > .s {
    flex-basis: 50%; }
    /* line 1719, sass/_base.scss */
    .term-list .header .filters > .filter > form > .wrapper > .o input, .term-list .header .filters > .filter > form > .wrapper > .o select,
    .term-list .header .filters > .filter > form > .wrapper > .s input,
    .term-list .header .filters > .filter > form > .wrapper > .s select {
      width: 100% !important; }

  /* line 1723, sass/_base.scss */
  .term-list .products > div {
    flex-basis: 100%; }

  /* line 1726, sass/_base.scss */
  body.single-termekek .cont > .image, body.single-termekek .cont > .prod-body {
    flex-basis: 100%; }

  /* line 1729, sass/_base.scss */
  body.single-termekek .cont .prod-body h1 {
    margin: 25px 0 25px 0;
    font-size: 5vh;
    line-height: 1; }

  /* line 1734, sass/_base.scss */
  body.single-videok iframe {
    height: 25vh; } }
